/* Reset default browser styling */
:root {
  --orange: rgb(240, 120, 22);
  --light-orange: rgb(255, 170, 92);
  --white: rgb(255, 255, 255);
  --black: rgb(0, 0, 0);
  --lineWidth: 0%;
  --lineColor: none;
  touch-action: none;
}

body {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  box-sizing: border-box;
  overflow: hidden;
  margin: 0;
  height: 100vh;
  user-select: none;
  position: relative;
}

/* Typography */
h1 {
  font-size: 6vmin;
  margin: 0px;
}

h2 {
  font-size: 3em;
  text-align: center;
  /* margin-bottom: 1vh; */
  color: var(--orange);
}

h3 {
  font-size: 1.6em;
  text-align: center;
  color: var(--orange);
  font-weight: 900;
}

/* Containers */
#game {
  display: flex;
  align-items: center;
  position: relative;
  height: 100vh;
}

#overlay {
  background-color: rgba(0, 0, 0, 0.4);
  width: 100vw;
  height: 100vh;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 99;
  position: fixed;
  opacity: 1;
  animation: fade-in 1s forwards;
  display: none;
  margin-bottom: 20px;
}

#card {
  height: 80%;
  width: 60%;
  background: white;
  top: 50%;
  left: 50%;
  position: absolute;
  transform: translate(-50%, -50%);
  border-radius: 15px;
  text-align: center;
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  overflow: hidden;
  padding: 0 20px;
}

/* Flexbox */
.flex {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 40px;
}

.flexCol {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
}


/* Form Styles */
.flexCol select,
.flexCol input {
  font-size: 0.75em;
  font-weight: 600;
  min-width: 100% !important;
  border: 2px solid black;
  padding: 10px;
  border-radius: 5px;
  display: inline-block;
}

.input-field {
  margin: 8px 0;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  width: 60%;
}

/* Style the default dropdown arrow */
select {
  /* Add padding to create space for the arrow */
  padding-right: 20px;
  /* Adjust as needed */
}

/* Create the dropdown arrow using ::after pseudo-element */
select::after {
  position: absolute;
  content: "";
  top: 14px;
  right: 10px;
  width: 0;
  height: 0;
  border: 6px solid transparent;
  border-color: #fff transparent transparent transparent;
}

/* Button Styles */
.button {
  font-size: 16px;
  font-weight: 600;
  background-color: var(--orange);
  color: white;
  outline: none;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  /* min-width: 200px; */
}

.button:hover {
  background-color: var(--light-orange);
}

.sec-button {
  color: var(--orange);
  background-color: white;
  border: 2px solid black;
}

.sec-button:hover {
  background-color: var(--light-orange);
  color: black;
  border-color: var(--light-orange);
}

.btn-lg {
  width: 200px;
  margin-top: 20px;
}


/* Frequently used classes */
.payment-details {
  padding-top: 1rem;
  height: 70vh;
  overflow: scroll;
}

.payment-footer {
  width: 50vw;
  margin: 0 auto;
}

.vertical-centre {
  margin: auto 0;
}

.how-to-play-container {
  text-align: center;
  padding: 10px;
  max-width: 500px;
  margin: 0 auto;
}

.grid-items {
  display: flex;
  align-items: center;
  justify-content: center;
  user-select: none;
  transition: all 0.1s ease-in-out;
  border-radius: 50%;
}

.balance {
  padding: 15px 10px;
  width: inherit;
  border-radius: 1vmin;
  color: white;
  margin-bottom: 10px;
  min-width: 200px;
  height: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #152938;
}

.win-lose {
  font-size: 1.6em;
}


/* Game Styles  */

#game {
  display: flex;
  align-items: center;
  height: 100vh;
  position: relative;
}

#found-words .listRow {
  display: flex;
  justify-content: space-between;
  /* margin-bottom: 3vh; */
  flex-wrap: no-wrap;
  max-width: 100%;
}

.listWord {
  flex: 1;
  margin: 0 40px;
}

span.foundWord {
  position: relative;
  color: #6D7CFF;
}

span.foundWord::before {
  content: "";
  position: absolute;
  top: 40%;
  right: -10%;
  width: 120%;
  background-color: #6D7CFF;
  color: #6D7CFF;
  padding: 1px;
  border-radius: 10px;
  transition: all 0.5s ease-in-out;
  z-index: 10;
}

#game-wrapper {
  display: flex;
}

#game-container {
  display: flex;
  align-items: center;
  position: relative;
  height: 100vh;
}

.boardRow {
  flex: 1;
  width: 95%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
}

.cell {
  font-size: 1.5em;
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 1;
  margin: 3px 7px;
  border: none;
  height: 1em;
  width: 1em;
  padding: 0;
  outline: 0;
  font-weight: 600;
  background-color: transparent;
  border-radius: 50%;
  cursor: default;
  -moz-user-select: none;
  -ms-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -webkit-touch-callout: none;
}

.cell:hover {
  background-color: rgb(242, 229, 141);
}

.cell.selectable {
  background-color: rgb(234, 228, 206);
}

.cell.selected {
  background-color: rgb(205, 188, 90);
}

.cell.foundCell{
  background-color: rgb(109, 124, 255);
}
/* Media queries */
/* @media screen and (max-width: 1400px) {
  #game {
    flex-direction: column;
  }

  #selection-wrapper {
    width: 60vw !important;
  }

} */

/* Styles for tablets (768px > viewport width >= 576px) */
/* Tablet styles here */
@media only screen and (max-width: 767px) {
  .game-control {
    width: 100px;
    font-size: 0.9em;
  }

  #attempts-balance,
  #wallet-balance,
  #timer {
    max-width: 80px;
    padding: 5px;
  }

  #attempts-balance.balance,
  #wallet-balance.balance,
  #timer.balance {
    min-width: 80px;
    ;
  }
}

/* Styles for phones (viewport width < 576px) */
/* Phone styles here*/
@media only screen and (max-width: 576px) {
  .game-control {
    width: 80px;
    font-size: 0.9em;
  }

  #attempts-balance,
  #wallet-balance,
  #timer {
    max-width: 80px;
    padding: 5px;
  }

  #attempts-balance.balance,
  #wallet-balance.balance,
  #timer.balance {
    min-width: 80px;
    ;
  }
}